$forest: #228B22;

.mynavbar {
  background-color: $forest;
  overflow: hidden;

  /* Style the links inside the navigation bar */
  a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
  }
  /*Change color on hover*/
  a:hover {
    background-color: #134e13;
    color: white;
  }
  a.active {
    background-color: #134e13;
    color: white;
  }
  .icon {
    display: none;
  }

}

body {
  background-color: black;
}

#main-tree {
  width: 85%;
  height: auto;
  /*center photo*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .mynavbar a {display: none;}
  .mynavbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .mynavbar.responsive {position: relative;}
  .mynavbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .mynavbar.responsive {
    a {
      width: 100%;
      float: none;
      display: block;
      text-align: center;
    }
    a.icon {
      display: none;
    }
  }
}
